@import "../../../styles/styles.scss";

.component {
  border: 1px solid $inactiveWhite !important;
  border-radius: 6px;
  height: 48px;
  font: 500 14px/15px "Inter";
}

.component:hover {
  border: 1px solid $activeBlue !important;
  color: #000 !important;
}
