@import "./vendor/normalize.scss";

.app {
  text-align: center;
  height: 100vh;
  display: flex;
}

@media screen and (max-width: 500px) {
  .app {
    height: inherit;
    flex-wrap: wrap;
    margin: 20px 0;
  }
}
